
.parallelogram-background {
    position: absolute;
    left: 0;
    width: 100%;
    height: 800px;
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
    z-index: -1;
}

.parallelogram-background-mobile {
    position: absolute;
    left: 0;
    width: 100%;
    height: 700px;
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
    z-index: -1;
}

.hero-trapezoid-background {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 575px;
    clip-path: polygon(0 0, 100% 0, 100% 55%, 0% 100%);
    z-index: -1;
}

.hero-trapezoid-background-mobile {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 375px;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
    z-index: -1;
}

.trapezoid-background {
    position: absolute;
    left: 0;
    top: 200px;
    width: 100%;
    height: 400px;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    z-index: -1;
}

.irregular-background {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(55% 0, 100% 0, 100% 100%, 70% 100%);
    z-index: -1;
}

.irregular-background-mobile {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 0, 45% 0, 100% 50%);
    z-index: -1;
}

